/* Xenoblade Chronicles 2 - Torna: The Golden Country - Turquoise Theme */
:root {
    --theme-primary: #20C997;
    --theme-secondary: #1AA179;
    --theme-accent: #66EABD;
    --theme-primary-rgb: 32, 201, 151;
    --theme-secondary-rgb: 26, 161, 121;
    --theme-accent-rgb: 102, 234, 189;
}
